.validate {
    img {
        width: 100%;
        height: auto;
    }

    >:not(img) {
        padding: 1rem;
        list-style-image: url(../../public/images/icon-list.svg);

        input {
            padding: 1rem;
            width: 100%;
            border-radius: .5rem;
            border: none;
        }

        input:active,
        input:focus {
            border: none;
        }
    }

    ul {
        padding: 0 3rem;

        li {
            background-color: blue;
            margin: .5rem .5rem;
        }
    }
}