.validate {
    img {
        width: 100%;
        height: auto;
    }

    &>:not(img) {
        padding: 1rem;

        input {
            padding: 1rem;
            width: 100%;
            border-radius: .5rem;
            border: 1px solid hsl(231, 7%, 60%);
        }

        input:active,
        input:focus {
            border: none;
        }
    }

    ul {
        padding: 0 3rem;

        li {
            position: relative;
            margin: .5rem 0;
            padding: 0;
            list-style-type: none;

            &::before {
                content: url(../../public/images/icon-list.svg);
                position: absolute;
                left: -2rem;
            }
        }
    }
}